* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto 100px;
  padding-top: 100px;
}

.select__hide {
  border: 0!important;
  clip: rect(0 0 0 0)!important;
  clip-path: inset(50%)!important;
  height: 0!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 0!important;
  white-space: nowrap!important;
}

.ss__block {
  position: relative;
}

.ss__block--open .ss__box-list {

}

.ss__box-list {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  overflow-x: hidden;
  transition: height .2s;
}

.ss__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
