body {
  margin: 0;
  padding: 0;
  font-family: 'Tenor Sans', sans-serif;
}

.change-city-form h2 {
  margin-bottom: 28px;
  padding-left: 45px;
  padding-right: 45px;
}

.change-city-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 45px;
  padding-top: 26px;
  padding-right: 45px;
  padding-bottom: 26px;
  border-top: 1px solid #e8eced;
  border-bottom: 1px solid #e8eced;
}

.change-city-nav__item {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  line-height: 28px;
  color: #0097b3;
  text-transform: uppercase;
  cursor: pointer;
  transition: color .3s;
}

.change-city-nav__item:hover {
  opacity: .7;
}

.change-city-nav__item.change-city-nav__item--active {
  color: #15353e;
}

.change-city-nav__item.change-city-nav__item--active:hover {
  opacity: 1;
  cursor: default;
}

.change-city-block {
  display: none;
  padding-left: 45px;
  padding-top: 26px;
  padding-right: 45px;
}

.change-city-block.change-city-block--active {
  display: flex;
  justify-content: space-between;
}

.change-city-column {
  width: calc(33.333% - 40px);
}

.change-city-block__item {
  margin-bottom: 26px;
  color: #0097b3;
  line-height: 18px;
  cursor: pointer;
  transition: color .3s;
}

.change-city-block__item:hover {
  color: #15353e;
}
